# Server
PORT=5002
WS_PORT=751
ORIGIN=http://34.64.85.65:3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://admin:YOUR_PASSWORD@gx-mongo.eau3o.mongodb.net

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=garden-of-papers

# GROBID (same VM)
GROBID_URL=http://localhost:8070

# LLM
LLM_API_KEY=
LLM_API_URL=
